* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 20px;
	overflow: hidden;
	background-color: #162651;
	border: 2px solid light-grey;
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	padding-right: 4%;
	border-bottom: 5px solid #3E829A;
	width: 95%;
}

li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
    margin-left: 50px;
	padding: 14px 27px;
	text-decoration: none;
}

li a:hover {
	background-color: #fafaff;
	color: black;
}

body {
	background-color: #e0e0e0;
}

.flex-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    align-items: center;
	padding-top: 90px;
	padding-bottom: 80px;
	max-width: 100%;
	height: 650px;
}


.img-pfp {
	width: 100%;
}

.about {
	font-family: 'Courier New', Courier, monospace;
}

.about h1 {
	padding: 30px 30px 20px;
	font-size: 55px;
	color: #162651;
	line-height: 40px;
}

.about p {
	padding: 0px 30px 20px;
	font-size: 30px;
	color: #2F3B69;
	line-height: 40px;
}
					  
/* Position the image container (needed to position the left and right arrows) */
.image-container {
	position: relative;
	width: 487.5px;
	margin: 25%;
}

.half1-container {
	width: 40%;
}

.half2-container {
	width: 60%;
}

/* Hide the images by default */
.mySlides {
	display: block;
}

.mySlides > img {
	max-height: 650px;
	resize: auto;
	align-items: center;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
	cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}